/* Import font Open Sans */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Tablet Landscape */
/* @media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
} */

/* Tabled Portrait */
/* @media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
} */


/* img { max-width: 100%; }
html { font-size:100%; } */

body {    
    font-family: 'Open Sans', sans-serif;
    background: white;
    --grid-width: 500px;
    --grid-height: 600px;
}

/* Containers and sections */

.home-container{
    /* Dimensions */
    width: 1600px;
    height: 700px;
    border-radius: 4px;
    /* Colors */
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
   background: white;
    /* Margins & Paddings */
    margin-top: 50px !important;
    margin : 0 auto;
    /* Flexbox */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.home-section-left{
    display: flex;
    /* justify-content: space-around; */
    /* align-items: center; */
    flex-direction: column;
    height: 400px;
    width: 600px;
}

.home-section-right{
    width: 700px;
}

.right{
    margin-top: 50px;
    /* background-size: cover; */
    float: left;
    /* position: relative; */
    width: 35%;
    height: 60%;
}

#locatie{
    float: right;
    height: 60%;
    width: 529px;
}

.grid{

    width: var(--grid-width);
    height: var(--grid-height);
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grids{
    width: 125px;
    height: 150px;
    position: relative;
}

.grid-button{
  width: 120px;
  height: 30px;
  padding-top: 10px;
  cursor: pointer;

  float: left;
  float: inline-end;
  font-size: 15px;
    line-height: 24px;
    /* width: 600px; */
    color: #5f5f5f;
}

.grid-button:hover{
    transition: 0.8s;
    background: #f28e0b;
}

/* #makkum{
    top: 90.5%;
    left: 12.95%;
}

#groningen{
    top: 49.5%;
    left: 23.45%;
}

#katwijk{
    top: 90.3%;
    left: 19.2%;
}

#amsterdam{
    top: 69.5%;
    left: 70.32%;
}

#zwolle{
    top: 57.5%;
    left: 71.9%;
}

#den-haag{
    top: 15.5%;
    left: 9.5%;
}

#utrecht{
    top: 6.5%;
    left: 93.9%;
}   

#roosendaal{
    top: 82.5%;
    left: 14.9%;
}
#oosterhout{
    top: 57.5%;
    left: 63.9%;
}

#tilburg{
    top: 77.5%;
    left: 86.9%;
}

#den-bosch{
    top: 44.5%;
    left: 11.9%;
}

#arnhem{
    top: 20.5%;
    left: 75.9%;
}

#helmond{
    top: 88.5%;
    left: 45.9%;
}

#zelhem{
    top: 9.5%;
    left: 33.9%;
}

#echt{
    top: 39.5%;
    left: 60.9%;
} */

.title{
    font-size: 30px;
    color: #2f2e87;
    text-align: left;
    width: 600px;
}

.text{
    font-size: 15px;
    line-height: 24px;
    width: 600px;
    color: #5f5f5f;
}

@media (max-width: 880px) {

    /* body{
        width: 880px;

    } */

    .home-container{
        width: 90%;
        height: 1500px;
        display: flex;
        background-size: cover;
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
    }

    .selective{
        display: block;
    }

    .grid{
        width: 300px;
        height: 400px;
    }

    .grids{
        width: 75px;
        height: 100px;
    }

    .grid-button:hover{
        transition: 0.8s;
        background: #f28e0b;
    }

    .home-section-left{
        width: 60%;
        height: 60%;
    }

    .right{
        width : 40%;
        height: 60%;
    }

    #doughnut-chart{
        width: 300px;
    }

    #line-chart{
        display: none;
    }

    .text{
        width: 90%;
    }

    .grid-button{
        width: 120px;
        height: 30px;
        padding-top: 10px;
        cursor: pointer;
      
        float: left;
        float: inline-end;
      }
}

@media screen and (max-width: 1610px){
    body {
      width: 100%;
      height: 150%;
    }

    .home-container{
        width: 95%;
        height: 1300px;
        display: flex;
        background-size: cover;
        justify-content: space-around;
        align-items: center;
        flex-direction: column-reverse;
    }

    .grid{
        width: 350px;
        height: 400px;
    }

    .grids{
        width: 75px;
        height: 100px;
    }

    .home-section-left{
        width: 50%;
        height: 600px;
    }

    .home-section-right{
        /* width: 60%; */
        height: 60%;
    }

    .location{
        width: 60%;
        height: 60%;
    }

    .right{
        width : 35%;
        height: 60%;
    }

    /* .grid-button{
        transition: 0.8s;
        position: relative;
        width: 7px;
        height: 7px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: #2f2e87;
        color: #2f2e87;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 100%;
      } */

    #doughnut-chart{
        width: 300px;
    }

    #line-chart{
        display: none;
    }

    .grid-button{
        width: 120px;
        height: 30px;
        padding-top: 10px;
        cursor: pointer;
      
        float: left;
        float: inline-end;
    }

    .grid-button:hover{
        transition: 0.8s;
        background: #f28e0b;
    }

    /* #makkum{
        top: 90.5%;
        left: 4.95%;
    }
    
    #groningen{
        top: 49.5%;
        left: 23.45%;
    }
    
    #katwijk{
        top: 90.3%;
        left: 19.2%;
    }
    
    #amsterdam{
        top: 69.5%;
        left: 70.32%;
    }
    
    #zwolle{
        top: 57.5%;
        left: 71.9%;
    }
    
    #den-haag{
        top: 15.5%;
        left: 9.5%;
    }
    
    #utrecht{
        top: 6.5%;
        left: 93.9%;
    }   
    
    #roosendaal{
        top: 82.5%;
        left: 14.9%;
    }
    #oosterhout{
        top: 57.5%;
        left: 63.9%;
    }
    
    #tilburg{
        top: 77.5%;
        left: 86.9%;
    }
    
    #den-bosch{
        top: 44.5%;
        left: 11.9%;
    }
    
    #arnhem{
        top: 20.5%;
        left: 75.9%;
    }
    
    #helmond{
        top: 88.5%;
        left: 45.9%;
    }
    
    #zelhem{
        top: 9.5%;
        left: 33.9%;
    }
    
    #echt{
        top: 39.5%;
        left: 60.9%;
    } */
}

@media screen and (max-width: 1201px){

}

@media screen and (max-width: 1201px){
    .home-section-right{
        /* width: 95%; */
        height: 60%;
    }

    .locatie{
        height: 60%;
        width: 60%;
        float: right;
    }

    .right{
        height: 60%;
        width: 40%;
    }
}

@media screen and (max-width: 1157px){
    .home-section-right{
        /* width: 95%; */
        height: 50%;
    }

    .locatie{
        height: 60%;
        width: 60%;
        float: right;
    }

    .right{
        height: 60%;
        width: 40%;
    }
}

@media screen and (max-width: 815px){

    .home-section-right{
        height: 30%;
        width: 95%;
    }

    .locatie{
        height: 100%;
        width: 60%;
        float: right;
    }

    .right{
        height: 60%;
        width: 40%;
    }
}